<div class="container mt-3">
  <h2>New article</h2>
  <%= simple_form_for @article do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
